@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');
:root{
    --green:#285935;
    }
 *{
        font-family: 'Poppins', sans-serif;
        margin:0; padding:0;
        box-sizing: border-box;
       text-transform: capitalize;
        outline: none; border:none;
        text-decoration: none;
        transition: all .3s linear;
        
    }
   /* p{
        color:black;
        font-size: 15px;
    }
    #home p{
        font-size: 25px;
    }*/
.navbar{
   /* padding : 3px 3px;*/
    padding:1.5rem 5%;
    background:var(--green) !important ;
    font-size: 18px;  
    top: 0;
    left: 0;  
}
.navbar .navbar-brand{
    font-size: 25px;
    font-family: Comic Sans MS;
    color: antiquewhite;
}
.navbar .navbar-brand:hover{
    color:antiquewhite ;

}
.navbar-light .navbar-nav .nav-link{
        color: whitesmoke;
        padding: 0 10px;
    }

    .navbar-light .navbar-nav .nav-link:hover{
        color:black;
        opacity: 0.8;
    }
  .dropdown-menu{
      background :var(--green) !important ;
  }
  .dropdown-item{
      color: whitesmoke;
  }
  .dropdown-item:hover{
    color:#15291a ;
    background: #285935;

}
button{
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    background-color: #02210a;
    border: none;
    color: whitesmoke;
    padding: 13px 30px;
    text-transform: uppercase;

}
button:hover{
   /* background-color:#15291a;*/
    opacity: 0.3;
    }
#home{
    background-image: url("images/slide4.jpg");
    width:100%;
    height:100vh;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
  /* best seller*/
  .product{
      cursor: pointer;
      margin-bottom: 2rem;
  }
  .product img{
      transition:0.3s all;
  }
  .product img:hover{
      opacity: 0.7;
  }

/*****bestseller*/
hr{
    width : 50px;
    height :20px;
    background-color: orangered;
}
/*footer*/
.footer-one p{
 text-transform: none;
}
footer{
   /* display: flex;*/
    background-color:#285935 ;
    color: black;
}
.footer .location{
    padding: 50px 10%;
}
.footer .contactus{
    padding: 50px 10%;
}

.footer .aboutus{
    padding: 50px 10%;
}
  h2{
      font-size: 1.8rem;
      font-weight: 600;
  }
  h1{
     font-size: 2.5rem;
       font-weight: 700;
       color:black ;
  }
  h3{
    font-size: 1.4rem;
      font-weight: 800;
      color: black;
 }
 h4{
    font-size: 1.1rem;
      font-weight: 600;
 }
 h5{
    font-size: 1rem;
      font-weight: 500;
      
 }
 h6{
    color: #b6bfb8;

 }
 .space{
     width: 100%;
     height: 30px;
 }

